<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!--串口-->
    <add key="PortName" value="COM11"/>
    <!--串口波特率，默认为115200-->
    <add key="BaudRate" value="115200"/>
    <!--奇偶校验位: 0-None, 1-Odd, 2-Even, 3-Mark, 4-Space-->
    <add key="Parity" value="0"/>
    <!--停止位: 0-不使用停止位, 1-1个停止位, 2-2个停止位, 3-1.5个停止位-->
    <add key="StopBits" value="1"/>
    <!--串口波特率: 默认为8-->
    <add key="DataBits" value="8"/>
    <!--留空选择: 0-无握手控制, 1-使用XON/XOFF软件控制协议(暂不支持), 2-硬件握手控制, 3-同时使用硬件控制和XON/XOFF软件控制-->
    <add key="FlowControl" value="0"/>
    <!--用户请求缓存池大小-->
    <add key="UserRequestPoolSize" value="1024"/>
    <!--用户请求重试次数-->
    <add key="UserRequestRetryTimes" value="3"/>
    <!--用户请求响应超时时间，单位：毫秒-->
    <add key="UserRequestTimeout" value="200"/>
    <!--日志缓存池大小-->
    <add key="LogPoolSize" value="1024"/>
    <!--记录信息日志开关，开：1，关：0-->
    <add key="LogInfSwitch" value="0"/>
    <!--记录错误日志开关，开：1，关：0-->
    <add key="LogErrSwitch" value="1"/>
    <!--记录设备层日志开关，开：1，关：0-->
    <add key="LogDeviceSwitch" value="1"/>
    <!--记录HDLC层日志开关，开：1，关：0-->
    <add key="LogHdlcSwitch" value="1"/>
    <!--记录Serial层日志开关，开：1，关：0-->
    <add key="LogSerialSwitch" value="1"/>
    <!--记录Mesh层日志开关，开：1，关：0-->
    <add key="LogMeshSwitch" value="1"/>
    <!--记录Adapter层日志开关，开：1，关：0-->
    <add key="LogAdapterSwitch" value="1"/>

    <!--iCMS.Server ID地址-->
    <add key="iCMSServer" value="http;//192.168.20.5:7702/"/>
    <!--iCMS.Server地址，上传采集数据-->
    <add key="UploadData" value="UploadDataService.svc"/>
	<!--WS升级超时时间-->
    <add key="UpdateTimeOut" value="900000" />
    <!--iCMS.Server地址，下发配置操作重试次数-->
    <add key="TryAgainNum" value="3"/>
    <!--下发升级报文中魔术数字值 add by masu 2016年3月8日13:34:21-->
    <add key="MagicWord" value="538183686" />
    <!--WG ID-->
    <add key="WGID" value="108"/>
  </appSettings>
</configuration>