<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="icms.batchingHosting"
        type="iCMS.Common.Component.Tool.IoC.BatchingHostingSettings, 
              iCMS.Common.Component.Tool.IoC"/>
  </configSections>
  <unity>
    <containers>
      <container name="defaultContainer">
        <!--业务的处理的依赖注入-->


        <!--泛型构造函数依赖注入，访问数据库-->
        <register type="iCMS.Frameworks.Core.Repository.IRepository`1, iCMS.Frameworks.Core.Repository"
                  mapTo="iCMS.Frameworks.Core.Repository.Repository`1, iCMS.Frameworks.Core.Repository">
        </register>

        <register type="HanBin.Services.SystemManager.IUserManager, HanBin.Services"
                  mapTo="HanBin.Services.SystemManager.UserManager, HanBin.Services">
        </register>

        <register type="HanBin.Services.OrganManager.IOrganManager, HanBin.Services"
                  mapTo="HanBin.Services.OrganManager.OrganManager, HanBin.Services">
        </register>
        <register type="HanBin.Services.OfficerManager.IOfficerManager, HanBin.Services"
                mapTo="HanBin.Services.OfficerManager.OfficerManager, HanBin.Services">
        </register>

        <register type="HanBin.Services.ScoreManager.IScoreManager, HanBin.Services"
                  mapTo="HanBin.Services.ScoreManager.ScoreManager, HanBin.Services">
        </register>
      </container>
    </containers>
  </unity>
  <icms.batchingHosting>
    <!--iCMS SERVICE-->

    <add type="HanBin.Presentation.Service.SystemManage.HanBinSystemManageService, HanBin.Presentation.Service"/>
    <add type="HanBin.Presentation.Service.ScoreService.HanBinScoreService, HanBin.Presentation.Service"/>
  </icms.batchingHosting>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <!--192.168.20.5 iCMSDB611-->
    <!--<add key="iCMS" value="aZ0YxlTMWWndb7OuwKXmXH4BaFc00AIvgBOfaea1Gax0mtyacC3NyM4DaT0ESBdH5tP8wPt/UyIVcIWzR/F0M79aiIUYmD50YtTvuxHbDeWV1Q4CxO1jroDH+oVrp6gt33449EGr0XuNE11wZdG2ryV4beg5QdDUsBtW9lBSS5AmZr+GTu6OIg==" />-->

    <!--. HanBinDB-->
    <add key="iCMS" value="JwX+l8BtXQqj7zB/wWj4umqOXeM7LQowvaZiQWok3VmDPplFlWd4djpDTy9eW/zcZDg1oYPhM+xJZ3orQuOlN7rdDrFSBsnLO6wKuFHnUC1KFyDIQ6bmxsTzoLyOsLsmPvMgJLIOFDRX8l4hpVuYkw==" />
    <!--192.168.50.222  iCMSDBROOT-->
    <!--<add key="iCMS" value="aZ0YxlTMWWm36Ds87Ve9n2PDmCcUWNgtecB7nTAAV/XBK2HEhIASF3k/SSu5foSj0Uc01hA3wq5EmMbkNs1DoGDkv0Eg/0kCrRoJQKMa/xUmQ4RXuH3rU56RI03DqSIwA7r5+zA7Q6p1zYeydZI5RUe4+oZ5c7jnnTRXPVD5dXIJWLeIzsTNiQ==" />-->

    <!--字符串【2017-01-16】-->
    <add key="Key" value="5bcbc178cf70e1ec7ca1586a1eaac1d3" />
    <add key="Secret" value="252a7d7582a39c899de71efa8b6fb368" />


    <!--压缩日志天数，0：不压缩，其他：压缩间隔天数-->
    <add key="CompressLogDays" value="5" />
    <!--日志删除时间  值为单位：天-->
    <add key="DeleteLogDays" value="30" />



  </appSettings>

  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="webBinding" crossDomainScriptAccessEnabled="True"  maxBufferPoolSize="2147483647"
      maxReceivedMessageSize="2147483647"
      maxBufferSize="2147483647" transferMode="Streamed" contentTypeMapper="iCMS.Common.Component.Tool.Extensions.JsonRawMapper,iCMS.Common.Component.Tool.Extensions" >
        </binding>
      </webHttpBinding>
    </bindings>
    <services>

      <service name="HanBin.Presentation.Service.SystemManage.HanBinSystemManageService" behaviorConfiguration="DAUBehavior">
        <endpoint address="" behaviorConfiguration="webBehavior"
                  binding="webHttpBinding" bindingConfiguration="webBinding" contract="HanBin.Presentation.Service.SystemManage.IHanBinSystemManageService">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2892/HanBin/SystemService" />
          </baseAddresses>
        </host>
      </service>

      <service name="HanBin.Presentation.Service.ScoreService.HanBinScoreService" behaviorConfiguration="DAUBehavior">
        <endpoint address="" behaviorConfiguration="webBehavior"
                  binding="webHttpBinding" bindingConfiguration="webBinding" contract="HanBin.Presentation.Service.ScoreService.IHanBinScoreService">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2892/HanBin/ScoreService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <!--这里必须设置-->
          <webHttp helpEnabled="true" />
          <crossOriginResourceSharingBehavior />
          <newtonsoftJsonBehavior />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>

        <behavior name="otherServiceBehavior">
        </behavior>
        <behavior name="utilityServiceBehavior">
        </behavior>
        <behavior name="systemMgrBehavior"></behavior>
        <behavior name="DevicesConfigBehavior"></behavior>
        <behavior name="DiagnostiControlBehavior"></behavior>
        <behavior name="StatisticsBehavior"></behavior>
        <behavior name="WirelessDevicesConfigBehavior"></behavior>
        <behavior name="DoCommandBehavior">
          <serviceThrottling
            maxConcurrentCalls="5000"
            maxConcurrentSessions="5000"
            maxConcurrentInstances="5000"/>
        </behavior>
        <behavior name="GetSensorsInfoBehavior"></behavior>
        <behavior name="UploadDataBehavior">
          <!--上传数据使用了多线程，故此出对资源信息增加了限制-->
          <serviceThrottling
            maxConcurrentCalls="5000"
            maxConcurrentSessions="5000"
            maxConcurrentInstances="5000"/>
        </behavior>
        <behavior name="DiagnosticAnalysisBehavior"></behavior>
        <!--SystemInitService enable the Metadata httpGet, added by QXM-->
        <behavior name="SystemInitSetsServiceBehavior">
          <serviceMetadata httpGetEnabled="true"></serviceMetadata>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="CloudBehavior"></behavior>
        <behavior name="DAUBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="newtonsoftJsonBehavior"    type="iCMS.Common.Component.Tool.Extensions.NewtonJsonBehaviorExtensionElement,iCMS.Common.Component.Tool.Extensions"/>
        <add name="crossOriginResourceSharingBehavior" type="iCMS.Common.Component.Tool.CORSExtension.EnableCrossOriginResourceSharingBehavior, iCMS.Common.Component.Tool" />
      </behaviorExtensions>
    </extensions>


  </system.serviceModel>
  <system.net>
    <connectionManagement>
      <!--同一链接地址最大连接数据 -->
      <add address="*" maxconnection="5000" ></add>
    </connectionManagement>
  </system.net>
</configuration>