<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="icms.batchingHosting"
        type="HanBin.Common.Component.Tool.IoC.BatchingHostingSettings, 
              HanBin.Common.Component.Tool.IoC"/>
  </configSections>
  <unity>
    <containers>
      <container name="defaultContainer">
        <!--业务的处理的依赖注入-->


        <!--泛型构造函数依赖注入，访问数据库-->
        <register type="HanBin.Frameworks.Core.Repository.IRepository`1, HanBin.Frameworks.Core.Repository"
                  mapTo="HanBin.Frameworks.Core.Repository.Repository`1, HanBin.Frameworks.Core.Repository">
        </register>

        <register type="HanBin.Services.SystemManager.IUserManager, HanBin.Services"
                  mapTo="HanBin.Services.SystemManager.UserManager, HanBin.Services">
        </register>

        <register type="HanBin.Services.OrganManager.IOrganManager, HanBin.Services"
                  mapTo="HanBin.Services.OrganManager.OrganManager, HanBin.Services">
        </register>
        <register type="HanBin.Services.OfficerManager.IOfficerManager, HanBin.Services"
                mapTo="HanBin.Services.OfficerManager.OfficerManager, HanBin.Services">
        </register>

        <register type="HanBin.Services.ScoreManager.IScoreManager, HanBin.Services"
                  mapTo="HanBin.Services.ScoreManager.ScoreManager, HanBin.Services">
        </register>
      </container>
    </containers>
  </unity>
  <icms.batchingHosting>
    <!--iCMS SERVICE-->

    <add type="HanBin.Presentation.Service.SystemManage.HanBinSystemManageService, HanBin.Presentation.Service"/>
    <add type="HanBin.Presentation.Service.ScoreService.HanBinScoreService, HanBin.Presentation.Service"/>
    <add type="HanBin.Presentation.Service.FileService.FileService, HanBin.Presentation.Service"/>
    <add type="HanBin.Presentation.Service.DownloadService.DownLoadFile, HanBin.Presentation.Service"/>
  </icms.batchingHosting>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

    <!--<add key="iCMS" value="CkSQphWNXUw2NZoQmHMm6+d8IDqpsHyhNQzOlRrYe2ESA2MoGgmIDM+Rs5I34Y2cr3Oxhxb6nb8="/>-->
    <!--. HanBinDB-->
    <!--<add key="iCMS" value="JwX+l8BtXQqj7zB/wWj4umqOXeM7LQowvaZiQWok3VmDPplFlWd4djpDTy9eW/zcZDg1oYPhM+xJZ3orQuOlN7rdDrFSBsnLO6wKuFHnUC1KFyDIQ6bmxsTzoLyOsLsmPvMgJLIOFDRX8l4hpVuYkw==" />-->

    <!--LOCALHOST HanBinAdmin:123456789-->
    <add key="iCMS" value="JwX+l8BtXQqj7zB/wWj4umqOXeM7LQowvaZiQWok3VmDPplFlWd4dmaEUxZmmdJT0vTtQJUeDsi/AXz7HLRVlfhneN3vWSoa0HS6jx4f2aAJbKLPcOLCFxHHfdzbUTrV/WJ2gPfXuPmUEkOv4dIlUCwFG3642C7K4gf9LUAclOM="/>

    <!--字符串【2017-01-16】-->
    <add key="Key" value="5bcbc178cf70e1ec7ca1586a1eaac1d3" />
    <add key="Secret" value="252a7d7582a39c899de71efa8b6fb368" />


    <!--压缩日志天数，0：不压缩，其他：压缩间隔天数-->
    <add key="CompressLogDays" value="5" />
    <!--日志删除时间  值为单位：天-->
    <add key="DeleteLogDays" value="30" />

    <!--JWT秘钥-->
    <add key="PrivateKey" value="HanBinScoreMgr"/>
    <add key="BackupPath" value="D:\Backup"/>

  </appSettings>

  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="webBinding" crossDomainScriptAccessEnabled="True"  maxBufferPoolSize="2147483647"
      maxReceivedMessageSize="2147483647"
      maxBufferSize="2147483647"  transferMode="Streamed" sendTimeout="00:05:00" closeTimeout="00:05:00" receiveTimeout="00:10:00"
           
        contentTypeMapper="HanBin.Common.Component.Tool.Extensions.JsonRawMapper,HanBin.Common.Component.Tool.Extensions" >
        </binding>
      </webHttpBinding>
    </bindings>
    <services>

      <service name="HanBin.Presentation.Service.SystemManage.HanBinSystemManageService" behaviorConfiguration="DAUBehavior">
        <endpoint address="" behaviorConfiguration="webBehavior"
                  binding="webHttpBinding" bindingConfiguration="webBinding" contract="HanBin.Presentation.Service.SystemManage.IHanBinSystemManageService">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2892/HanBin/SystemService" />
          </baseAddresses>
        </host>
      </service>

      <service name="HanBin.Presentation.Service.ScoreService.HanBinScoreService" behaviorConfiguration="DAUBehavior">
        <endpoint address="" behaviorConfiguration="webBehavior"
                  binding="webHttpBinding" bindingConfiguration="webBinding" contract="HanBin.Presentation.Service.ScoreService.IHanBinScoreService">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2892/HanBin/ScoreService" />
          </baseAddresses>
        </host>
      </service>

      <service name="HanBin.Presentation.Service.FileService.FileService" behaviorConfiguration="DAUBehavior">
        <endpoint address="" behaviorConfiguration="fileBehavior"
                  binding="webHttpBinding" bindingConfiguration="webBinding" contract="HanBin.Presentation.Service.FileService.IFileService">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2892/HanBin/FileService" />
          </baseAddresses>
        </host>
      </service>

      <service name="HanBin.Presentation.Service.DownloadService.DownLoadFile" behaviorConfiguration="DAUBehavior">
        <endpoint address="" behaviorConfiguration="downloadBehavior"
                  binding="webHttpBinding" bindingConfiguration="webBinding" contract="HanBin.Presentation.Service.DownloadService.IDownLoadFile">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2892/HanBin/DownloadService" />
          </baseAddresses>
        </host>
      </service>
    </services>


    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <!--这里必须设置-->
          <webHttp helpEnabled="true" />
          <crossOriginResourceSharingBehavior />
          <newtonsoftJsonBehavior />
        </behavior>

        <behavior name="fileBehavior">
          <!--这里必须设置-->
          <webHttp helpEnabled="true" />
          <crossOriginResourceSharingBehavior />
          <newtonsoftJsonBehavior />
        </behavior>
        <behavior name="downloadBehavior">
          <!--这里必须设置-->
          <webHttp helpEnabled="true" />
          <crossOriginResourceSharingBehavior />

        </behavior>
·
      </endpointBehaviors>
      <serviceBehaviors>

        <behavior name="otherServiceBehavior">
        </behavior>
        <behavior name="utilityServiceBehavior">
        </behavior>
        <behavior name="systemMgrBehavior"></behavior>
        <behavior name="DevicesConfigBehavior"></behavior>
        <behavior name="DiagnostiControlBehavior"></behavior>
        <behavior name="StatisticsBehavior"></behavior>
        <behavior name="WirelessDevicesConfigBehavior"></behavior>
        <behavior name="DoCommandBehavior">
          <serviceThrottling
            maxConcurrentCalls="5000"
            maxConcurrentSessions="5000"
            maxConcurrentInstances="5000"/>
        </behavior>
        <behavior name="GetSensorsInfoBehavior"></behavior>
        <behavior name="UploadDataBehavior">
          <!--上传数据使用了多线程，故此出对资源信息增加了限制-->
          <serviceThrottling
            maxConcurrentCalls="5000"
            maxConcurrentSessions="5000"
            maxConcurrentInstances="5000"/>
        </behavior>
        <behavior name="DiagnosticAnalysisBehavior"></behavior>
        <!--SystemInitService enable the Metadata httpGet, added by QXM-->
        <behavior name="SystemInitSetsServiceBehavior">
          <serviceMetadata httpGetEnabled="true"></serviceMetadata>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="CloudBehavior"></behavior>
        <behavior name="DAUBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="newtonsoftJsonBehavior"    type="HanBin.Common.Component.Tool.Extensions.NewtonJsonBehaviorExtensionElement,HanBin.Common.Component.Tool.Extensions"/>
        <add name="crossOriginResourceSharingBehavior" type="HanBin.Common.Component.Tool.CORSExtension.EnableCrossOriginResourceSharingBehavior, HanBin.Common.Component.Tool" />
      </behaviorExtensions>
    </extensions>


  </system.serviceModel>
  <system.net>
    <connectionManagement>
      <!--同一链接地址最大连接数据 -->
      <add address="*" maxconnection="5000" ></add>
    </connectionManagement>
  </system.net>
</configuration>