<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="iCMSDBContext" connectionString="Data Source=.;Initial Catalog=ziyang;Integrated Security=True;User ID=sa;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
        <add name="iCMSDB1Context" connectionString="Data Source=192.168.20.63;Initial Catalog=iCMSDB1;Persist Security Info=True;User ID=sa;Password=123;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>