<?xml version="1.0"?>
<configuration>
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>

  <system.serviceModel>
    <services>
      <service behaviorConfiguration="BehaviorConfigService" name="iCMS.WG.AgentServer.ConfigService">
        <endpoint bindingConfiguration="BasicHttpBindingLarge"
          binding="basicHttpBinding" contract="iCMS.WG.AgentServer.IConfigService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

     

    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EndpointBehaviorConfigService" />
       
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="BehaviorConfigService">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
       
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />

    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBindingLarge" messageEncoding="Text" transferMode="Streamed"
       maxReceivedMessageSize="9223372036854775807" />
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>