<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <containers>
      <container name="defaultContainer">
        <!--泛型构造函数依赖注入，访问数据库-->
        <register type="iCMS.Frameworks.Core.Repository.IRepository`1,iCMS.Frameworks.Core.Repository"
        mapTo="iCMS.Frameworks.Core.Repository.Repository`1,iCMS.Frameworks.Core.Repository"  >
        </register>
      </container>
    </containers>
  </unity>

  <connectionStrings>
    <add name="iCMS" providerName="System.Data.SqlClient" connectionString="Server=192.168.20.63;Initial Catalog=iCMSDB;User Id=sa;Password=123;MultipleActiveResultSets=true;Max Pool Size=150"/>
  </connectionStrings>
  <appSettings>
    <!--192.168.20.107 iCMSDB-->
    <!--<add key="iCMS" value="aZ0YxlTMWWndb7OuwKXmXNbwRrw6jDvHkhJ4W39VcJkgDEd91Td8e2nPwrMeWAaPTCDB6/UwgYUoCOLRjBN78OluleDpeivCHw8oQ2/nAuvhEZpcE41mHGaoC1Ylw6Dfhf+LJzGvDVmHHVe2aUBKq3f4pwkbvBgD84yYgNCwCFo=" />-->
    <add key="iCMS" value="" />
    <add key="PushCount" value="100"/>
    <!--云地址-->
    <add key="CloudAddress" value="http://121.69.3.130:8160"/>
    <add key="CloudCode" value="2001400000000000" />
    <add key="PushCount" value="3"/>
    <add key="IsOpenLog" value="1"/>
  </appSettings>
</configuration>