body, div, ol, ul, li, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select {
  margin: 0;
  padding: 0;
}
body {
  font-family: "微软雅黑";
  font-size: 0.83vw;
  -webkit-text-size-adjust: 100%;
  line-height: normal;
  overflow: hidden;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
a, a:hover, a:focus, a:active, a:visited {
  color: #fff;
  text-decoration: none;
}
ul, ol, li {
  list-style: none;
}
img {
  border: 0;
}
p {
  word-wrap: break-word;
}
html, body {
  height: 100%;
  width: 100%;
}
div{
  box-sizing: border-box;
}
label{
  font-weight: normal;
  margin: 0;
}
button,select{
  line-height: normal;
  font:initial;
}


/*滚动条样式*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #efefef;
  border-radius: 6px;
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(255, 255, 255, .1);
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(38, 120, 255, 0.7);
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(38, 120, 255, 0.7);
  -webkit-border-radius: 6px;
}
